{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        You are seeing index article page
    </h1>
    {% if articles is defined %}
    <table class="table table-condensed table-stripped table-responsive">
        {% for article in articles %}
            {{ dump(article) }}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt.date }}</td>
                <td>
                    <a href="{{ path('front_article_detail', {id: article.id}) }}"><button>Show</button></a>
                    <a href="{{ path('front_article_update', {id: article.id}) }}"><button>Update</button></a>
                    <a href="{{ path('front_article_delete', {id: article.id}) }}"><button>Delete</button></a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}